* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
}


#preloader {
    background: #000 url('giphy\ \(1\).gif') no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.disppear {
    animation: vanish 5s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}




/* first header */
.first {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 30px 50px;
    padding-bottom: 40px;
    display: fixed;
}


.first .first-1 p {
    padding-top: 20px;
}


.first .first-1 p b {
    color: gold;
}



.first .first-2 {
    display: flex;
    padding-right: 20px;
}


.first .first-2 a p {
    color: gray;
    padding-right: 50px;
    padding-top: 20px;
}


.first .first-2 a {
    text-decoration: none;

}



.first .first-2 i {
    padding-top: 20px;
    padding-left: 10px;
    color: gray;
    text-decoration: none;
}


.first .first-2 i:hover {
    color: gold;

}

.first .first-2 a p:hover {
    color: gold;
}

/* first header */


/* body */

body {
    font-family: "open Sans", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url("camera-lens-closeup-nq.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;


}

/* body */




/* header-nav */


#nav-checkbox,
.nav-toggle {
    display: none;
}

header {
    display: inline-flex;
    position: static;
    background-color: #090220;
    transition: top 0.3s;
    width: 100%;
    height: 20%;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    z-index: 1;
    position: sticky;
}


.next {
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50%;
    float: right;
    justify-content: space-between;

}

.next i {
    margin-bottom: 10px;
}

.next input {
    border: 1px solid gold;
    background-color: white;
    width: 70%;
    height: 30px;
    padding: 20px;
    border-radius: 30px;
}



.logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 100px;
    font-style: italic;
    margin-top: 2%;
    margin-left: 0;
}



.closebtn,
.openbtn {
    display: none;

}

.logo h2 i {
    color: gold;
    font-size: larger;
    font-weight: bolder;
}

.logo h2 {
    color: #fff;
    text-transform: lowercase;
    font-weight: 2px;
    font-style: italic;
    font-size: 20px;
    margin-top: 1px;
}


.sidepanel h1 {
    display: none;
}


.sidepanel ul {
    float: right;
    margin-right: 40px;
    display: flex;
    position: fixed;
    color: #fff;
}

.sidepanel li {
    display: block;
    margin-right: 50px;
    line-height: 80px;
    color: #fff;
}

.sidepanel li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    display: block;
}



.sidepanel li a:hover {
    color: gold;
    transition: 0.5s;

}



.sidepanel ul li:hover .dropdown {

    display: block;
    margin-top: 0px;


}


.dropdown ul {
    border: 1px solid black;
    background-color: gray;
    display: inline-block;
    opacity: 1;
}



.sidepanel ul li:hover .dropdown ul {
    float: none;
    display: block;
    margin: 0px;
    position: fixed;
}



.dropdown {
    display: none;

}




/* header nav */



.magic {
    box-sizing: border-box;
    width: auto;

}

.banner1,
.banner2,
.banner3,
.banner4 {
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}


.banner1 img,
.banner2 img,
.banner3 img,
.banner4 img {
    position: absolute;
    background-position: center center;
    width: 120%;
    height: 120%;
    animation: zoom-out 3s linear infinite;

}

@keyframes zoom-out {
    100% {
        width: 100%;
        height: 100%;
    }
}

.text-box {
    width: 600px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}

@keyframes textup {
    10% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

.text-box1 {
    animation-delay: 0s;
}


.text-box2 {
    animation-delay: 3s;
}


.text-box3 {
    animation-delay: 6s;
}


.text-box4 {
    animation-delay: 9s;
}


.text-box p {
    word-spacing: 10px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    word-break: break-all;
    line-height: 50px;
    margin-top: 100px;
    font-style: italic;
}


.text-box span {
    background: gold;
    height: 10px;
    width: 100px;
    position: absolute;
    left: 0;
}

.banner1 {
    animation: slide1 12s linear infinite;
}


.banner2 {
    animation: slide2 12s linear infinite;
}

.banner3 {
    animation: slide3 12s linear infinite;
}

.banner4 {
    animation: slide4 12s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }


    50% {
        visibility: hidden;
    }


    75% {
        visibility: hidden;
    }


    100% {
        visibility: visible;
    }
}


@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }


    50% {
        visibility: visible;
    }


    75% {
        visibility: hidden;
    }


    100% {
        visibility: hidden;
    }
}


@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }


    50% {
        visibility: hidden;
    }


    75% {
        visibility: visible;
    }


    100% {
        visibility: hidden;
    }
}


@keyframes slide4 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }


    50% {
        visibility: hidden;
    }


    75% {
        visibility: hidden;
    }


    100% {
        visibility: visible;
    }
}






.container-2 {
    display: block;
    text-align: center;
    justify-content: space-around;
}




.secornd {
    width: 100%;
}



.container-2 .btn {

    margin-left: 200px;
    margin-left: 100px;
}


.container-2 p {
    color: gold;
    font-size: smaller;
    padding-left: 80px;
    text-align: center;
}

.container-2 h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 80px;
    text-align: center;

}








@media(max-width:800px) {


    /* first header */
    .first {

        color: #fff;
        padding: 10px 50px;

    }


    .first .first-1 {
        display: none;
    }


    .first .first-1 p b {
        color: gold;
    }



    .first .first-2 {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }


    .first .first-2 a p {
        color: gray;
        padding-right: 10px;
        padding-top: 20px;
    }




    .first .first-2 i {
        padding-top: 20px;
        padding-left: 20px;
    }

    /* first header */


    /*  navbar header */




    header {
        align-items: normal;
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        /* width: 100%; */
        display: flex;
        padding: 2px 0px;
        justify-content: space-between;
        transition: background-color 2s ease;
        margin-right: 0;
        z-index: 1;
    }

    .logo {
        color: #000;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0 10px;
    }


    .logo h2 {
        margin-top: 40px;
    }



    .next {
        display: none;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }


    .sidepanel ul li:hover .dropdown ul {
        display: none;
    }


    .sidepanel ul li:hover .dropdown {

        display: none;


    }


    .nav-toggle {
        width: 25px;
    }

    .close,
    input[type="checkbox"] {
        display: none;
    }



    .sidepanel {
        height: 100%;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        right: 0;
        background-color: #090220;
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 2s;
        /* 0.5 second transition effect to slide in the sidepanel */
        display: block;

    }


    .sidepanel ul {
        float: none;
        margin-right: 0;
        display: block;
        opacity: 0.5;
    }


    .dropdown ul {
        border: 1px solid black;
        background-color: gray;
        display: inline-block;
        opacity: 0.5;
    }



    .sidepanel li {
        display: inline-block;
        margin-right: 0px;
        border-bottom: 1px white solid;
        border-top: 1px white solid;
        width: 100%;
    }

    /* The sidepanel links */
    .sidepanel li a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;

    }

    .sidepanel h1 {
        color: #fff;
        padding-bottom: 50px;
        display: block;
    }


    .sidepanel h1 i {
        color: gold;
        padding-bottom: 50px;

    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel li a:hover {
        color: gold;
        border-top: 1px solid gold;
        border-bottom: 1px solid gold;
        padding-left: 50px;
        transition: all;
        transition-duration: 2s;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-right: 30px;
        border: 1px solid transparent;
        display: block;
        text-decoration: none;
        color: #fff;
        padding-top: 60px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparent;
        color: white;
        padding: 10px 15px;
        margin-inline: 0;
        justify-content: space-between;
        display: block;
    }

    .openbtn:hover {
        color: gold;
        transition: 2sec;

    }

    .closebtn:hover {
        color: gold;
        border: none;
        transform: skewY(45deg);
        transition: 2s;
        transition-duration: 2s;
        transition-property: 2s;
    }


    .container {
        z-index: 1;
    }



    .banner1,
    .banner2,
    .banner3,
    .banner4 {
        height: 100%;
        width: 100%;
        position: absolute;

    }


    .banner1 img,
    .banner2 img,
    .banner3 img,
    .banner4 img {
        position: absolute;
        background-position: center center;
        width: 120%;
        height: 120%;
        animation: zoom-out 3s linear infinite;
    }

    @keyframes zoom-out {
        100% {
            width: 100%;
            height: 100%;
        }
    }

    .text-box {
        width: 300px;
        position: absolute;
        top: 100px;
        left: 10px;
        color: #fff;
        animation: textup 12s linear infinite;
        transform: translateY(100px);
    }

    @keyframes textup {
        10% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(10px);
        }
    }

    .text-box1 {
        animation-delay: 0s;
    }


    .text-box2 {
        animation-delay: 3s;
    }


    .text-box3 {
        animation-delay: 6s;
    }


    .text-box4 {
        animation-delay: 9s;
    }


    .text-box p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 80px;
    }


    .text-box span {
        background: gold;
        height: 10px;
        width: 100px;
        position: absolute;
        left: 0;
    }

    .banner1 {
        animation: slide1 12s linear infinite;
    }


    .banner2 {
        animation: slide2 12s linear infinite;
    }

    .banner3 {
        animation: slide3 12s linear infinite;
    }

    .banner4 {
        animation: slide4 12s linear infinite;
    }

    @keyframes slide1 {
        0% {
            visibility: visible;
        }

        25% {
            visibility: hidden;
        }


        50% {
            visibility: hidden;
        }


        75% {
            visibility: hidden;
        }


        100% {
            visibility: visible;
        }
    }


    @keyframes slide2 {
        0% {
            visibility: hidden;
        }

        25% {
            visibility: hidden;
        }


        50% {
            visibility: visible;
        }


        75% {
            visibility: hidden;
        }


        100% {
            visibility: hidden;
        }
    }


    @keyframes slide3 {
        0% {
            visibility: hidden;
        }

        25% {
            visibility: hidden;
        }


        50% {
            visibility: hidden;
        }


        75% {
            visibility: visible;
        }


        100% {
            visibility: hidden;
        }
    }


    @keyframes slide4 {
        0% {
            visibility: hidden;
        }

        25% {
            visibility: hidden;
        }


        50% {
            visibility: hidden;
        }


        75% {
            visibility: hidden;
        }


        100% {
            visibility: visible;
        }
    }



    #preloader {
        background: #000 url('giphy.gif') no-repeat center center;
        background-size: 100%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;

    }


}